
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

span,
p,
a,
label {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
}
.container-fluid {
  max-width: 1200px;
}
.btn-primary {
  width: 8.5rem;
  padding: 0.7rem 0;
  background: #e83b3e !important;
  border-color: #e83b3e;
  position: relative;
  z-index: 1;
}
.btn-primary::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0%;
  left: 0;
  z-index: -1;
  transition: 0.4s;
  background: #111;
  border-color: #111;
}

.btn-primary:hover::after {
  width: 100%;
}
.mainbg {
  background-color: #f9fafb;
}



.header__area {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
.header__area__manu ul li i {
  position: relative;
  top: -0.1rem;
}
.header__area__manu ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 1.23rem;
  color: #111;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.header__info__search {
  font-size: 1.3rem;
  border-right: 0.2rem solid #ddd;
  padding-right: 0.6rem;
  cursor: pointer;
  margin-right: 0.8rem;
}

.header__info__call__icon {
  width: 2rem;
  font-size: 1.7rem;
  text-align: center;
  transform: rotate(-27deg);
  color: #e83b3e;
}

.header__info__call__dis {
  width: 10rem;
}
.header__info__call__dis a {
  color: #111;
  text-decoration: none;
  font-weight: 600;
}

.header__info__call__dis span {
  color: #606060;
}
/* start dropdown manu */
.header__area ul li {
  position: relative;
  transition: 0.4s;
}

.header__area ul li ul {
  position: absolute;
  width: 18rem;
  left: 0;
  top: 160%;
  background: #fff;
  list-style: none;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  padding: 0.8rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.header__area ul li:hover > a {
  color: #e83b3e;
}
.header__area ul li:hover .dropdown__manu {
  visibility: visible;
  opacity: 1;
  top: 136%;
}
.header__area ul li .dropdown__manu li:hover a {
  letter-spacing: 0.08rem;
}
ul li .dropdown__manu li {
  flex-direction: column;
}
ul li .dropdown__manu li a {
  text-decoration: none;
  transition: 0.4s;
}
/* end dorpdwon manu */
/* dropdown manu2 */
.dropdown__manu li {
  position: relative;
}
.dropdown__manu li .dropdown__manu2 {
  width: 100%;
  left: -98%;
  border: none;
  top: 0;
  box-shadow: -10px 0px 10px 0px rgb(0 0 0 / 10%);
  transform: scaleX(0);
  transform-origin: right;
  width: 15.5rem;
  transition: 0.7s;
  opacity: 0;
}
.dropdown__manu li:hover .dropdown__manu2 {
  transform: scaleX(1);
  opacity: 1;
  visibility: visible;
}
.header__area ul li ul li:hover .dropdown__manu2 li a {
  letter-spacing: normal;
}
.header__area ul li ul li .dropdown__manu2 li:hover a {
  letter-spacing: 0.06rem;
}

/* end header area */
/* start slider area */

.slider__area {
  background: url(https://templates.envytheme.com/finix/default/assets/img/main-banner2.jpg)
    center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.slider__area__content__wrap {
  display: flex;
  height: 110vh;
  align-items: center;
  position: relative;
}
.slider__area h6 {
  color: #e83b3e;
  font-size: 1.2rem;
  font-weight: 300;
}
.slider__area h1 {
  font-size: 4.25rem;
  color: #111;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  width: 60%;
}
.slider__area p {
  width: 50%;
  font-weight: 400;
  color: #676767;
}
.slider__area__socialicon {
  position: absolute;
  left: 0;
  bottom: 0;
}
.slider__area__socialicon ul {
  padding-left: 0;
}
.slider__area__socialicon ul li {
  list-style: none;
  padding: 1rem;
  color: #111;
}
.slider__area__socialicon ul li a {
  color: #111;
}
.slider__area__socialicon ul li:first-child::after {
  content: "";
  height: 1.2px;
  width: 2rem;
  vertical-align: middle;
  display: inline-block;
  background: #111;
  margin-left: 0.8rem;
}
.slider__area__socialicon ul li:first-child {
  padding-right: 0;
}

/* end slider area */
/* start icon area */
.icon__area ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin: 4.5rem 0;
}
.icon__area--border {
  border-bottom: 1px solid #ddd;
}
/* end icon area */
/* start about area */

.about__area__img {
  position: relative;
}
.about__area__img2 {
  position: absolute;
  background: url(https://templates.envytheme.com/finix/default/assets/img/about/shape.png)
    no-repeat center;
  background-size: contain;
  bottom: 0;
  right: 0;
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about__area__img2__inner h2 {
  font-weight: 800;
  font-size: 3rem;
}

.about__area__img2__inner span {
  font-weight: 500;
  font-size: 1.1rem;
}

.finix__text h6 {
  color: #e83b3e;
  font-size: 1.1rem;
  font-weight: 400;
}

.finix__text h2 {
  font-size: 2.2rem;
  color: #111;
  margin: 1rem 0;
  font-weight: 400;
}
.finix__text p {
  font-weight: 400;
  color: #606060;
  line-height: 1.8;
}
.finix__text strong {
  color: #606060;
  opacity: 80%;
}
.finix__text ul {
  list-style: none;
  padding-left: 0;
}
.finix__text ul li {
  line-height: 1.8;
  padding-top: 0.8rem;
}
.finix__text ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  color: #e83b3e;
  display: inline-block;
  margin-right: 0.8rem;
}

/* end about area */
/* start choose__area */

.Choose__area .finix__text {
  position: relative;
}
.choose__area__box__btn {
  position: absolute;
  right: 27%;
  bottom: 8%;
}
.choose__area__box__btn a {
  position: relative;
  width: 4.4rem;
  height: 4.4rem;
  background: #fff;
  display: inline-block;
  text-align: center;
  line-height: 4.4rem;
  color: #e83b3e;
  font-size: 3rem;
  border-radius: 50%;
  transition: 0.6s;
}
.choose__area__box__btn:hover a {
  background: #e83b3e;
  color: #fff;
}

.choose__area__box__btn a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #e83b3e;
  animation: playbtn 1.6s ease-out infinite;
}

@keyframes playbtn {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  30% {
    transform: scale(1);
    opacity: 70%;
  }

  40% {
    transform: scale(1.5);
    opacity: 50%;
  }

  70% {
    transform: scale(2);
    opacity: 20%;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.choose__area__box__item {
  background: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 3rem;
  transition: 0.4s;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.choose__area__box__item:hover {
  transform: translateY(-0.8rem);
}
.choose__area__box__item:hover span {
  transition: 0.4s;
}
.choose__area__box__item:hover span {
  color: #fff;
  background: #e83b3e;
}
.choose__area__box__item span {
  display: inline-block;
  font-size: 2.5rem;
  padding: 0.6rem;
  background: #fff;
  border-radius: 50%;
  width: 5.6rem;
  height: 5.6rem;
  color: #e83b3e;
  margin-top: 1.5rem;
  transition: 0.8s !important;
}

.choose__area__box__item p {
  font-weight: 400;
  color: #606060;
  line-height: 1.8;
  width: 85%;
  margin: 0 auto;
}
.choose__area__box__item::before {
  position: absolute;
  content: "";
  width: 100%;

  top: -70%;
  left: 0;
  height: 100%;
  background: #fdebeb;
  border-radius: 50%;
  z-index: -1;
}
.choose__area__box__iteml {
  margin-top: -1.4rem;
}
/* end choose__area */
/* start loan area */

.loan__area__left .finix__text ul {
  position: relative;
  padding-left: 2.5rem;
  margin-left: 2.5rem;
}
.loan__area__left .finix__text ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 6.06rem);
  width: 1px;
  background: #e83b3e;
}

.loan__area__left .finix__text ul li {
  position: relative;
  padding-top: 0.3rem;
}
.loan__area__left .finix__text ul li::before {
  position: absolute;
  content: attr(data-name);
  width: 2.18rem;
  height: 2.18rem;
  color: #e83b3e;
  border: 1px solid #e83b3e;
  border-radius: 50%;
  left: -3.6rem;
  top: 0;
  text-align: center;
  background: #f9fafb;
  line-height: 2.18rem;
}

.loan__area__right {
  background: #fdebeb;
}
.loan__area__right__form input {
  padding: 1rem;
}
/* end loan area */
/* start call area */

.call__area-bg {
  background: #e83b3e;
  border-radius: 5px;
  margin: 5rem 0;
}
.call__area-bg .finix__text h3 {
  color: #fff;
  border-right: 1px solid #ddd;
}
.coll__area__right span i {
  font-size: 1.7rem;
  text-align: center;
  transform: rotate(-27deg);
  color: #e83b3e;
}
.coll__area__right span {
  width: 3.6rem;
  height: 3.6rem;
  background: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 50%;
  display: inline-block;
}
.coll__area__right a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding-left: 0.9rem;
  font-size: 2.4rem;
}
.companyValu__area .finix__text ul li {
  position: relative;
  padding-left: 5rem;
  padding-top: 0;
  margin-bottom: 1.1rem;
}
.companyValu__area .finix__text ul li::before {
  content: none;
}
.companyValu__area .finix__text ul li span {
  position: absolute;
  display: inline-block;
  color: #e83b3e;
  left: 0;
  top: -1rem;
  font-size: 3.75rem;
}

/* end call area */

/* start service area */

.service__area__tab__icon span {
  font-size: 3.5rem;
  color: #606060;
}
.service__area__tab__icon strong {
  color: #111;
  font-size: 1.3rem;
}
.service__area__tab ul {
  border-bottom: 1px solid #606060;
  margin-bottom: 4rem !important;
}

.service__area__tab ul li {
  flex: 1 1 auto;
}
.service__area__tab__icon {
  transition: 0.4s;
}
.service__area__tab__icon strong {
  margin-bottom: 1.1rem;
}
.service__area__tab__icon:hover span {
  color: #e83b3e;
}

.service__area__tab .nav-item .active {
  border-bottom: 1px solid #e83b3e;
}

.service__area__tab__slide__text {
  text-align: left;
}

.service__area__tab__slide__text ul {
  padding-left: 0;
  border-bottom: none;
  margin-bottom: 1rem !important;
}

.service__area__tab__slide__text ul li {
  position: relative;
}
.service__area__tab__slide__text ul li::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  background: #e83b3e;
  display: inline-block;
  margin-right: 0.5rem;
}

/* end service area */

/* start client area */

.client__area__ditails p {
  font-size: 1.5rem;
  color: #111;
}
.client__area__ditails h6 {
  color: #e83b3e;
}
.client__area__img {
  position: relative;
}
.client__area__img span {
  position: absolute;
  bottom: 18%;
  display: inline-block;
  left: 13%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  background: #fff;
  color: #e83b3e;
  border-radius: 50%;
  line-height: 5rem;
  font-size: 3.3rem;
  transition: 0.5s !important;
}
.client__area__img span:hover {
  color: #fff;
  background: #e83b3e;
}

.client__area__content .carousel-indicators [data-bs-target] {
  background: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: none;
}

.client__area__content .carousel-indicators {
  transform: rotate(90deg);
  top: 0;
  bottom: 0;
  left: unset;
}

/* end client area */

/* start team area */

.team__area__box__content h5 {
  color: #e83b3e;
}

.team__area__box__content p {
  font-size: 1.1rem;
  font-weight: 300;
}

.team__area__box__img {
  position: relative;
}
.team__area__box__img ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}
.team__area__box__img ul li {
  display: inline-block;
  margin: 0 0.5rem;
  opacity: 0;
  transform: translateY(0);
  visibility: hidden;
  transition: 0.5s;
}
.team__area__box__img ul li a {
  display: block;
  width: 2.1rem;
  height: 2.1rem;
  line-height: 2.1rem;
  text-align: center;
  background: #fff;
  color: #606060;
  border-radius: 50%;
  font-size: 1.2rem;
}

.team__area__box__img:hover ul li {
  opacity: 1;
  visibility: visible;
  transform: translateY(-4.5rem);
}
.team__area__box__img ul li a {
  transition: 0.5s;
}
.team__area__box__img ul li:hover a {
  background: #e83b3e;
  color: #fff;
}

.team__area__box__img ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.team__area__box__img ul li:nth-child(2) {
  transition-delay: 0.3s;
}
.team__area__box__img ul li:nth-child(3) {
  transition-delay: 0.4s;
}
.team__area__box__img ul li:nth-child(4) {
  transition-delay: 0.5s;
}
/* end team area */

/* start news area */

.news__area__card p {
  color: #e83b3e;
}
.news__area__card h6 {
  transition: 0.4s;
}
.news__area__card h6:hover {
  color: #e83b3e;
  letter-spacing: 0.1rem;
}
.news__area__card h3 {
  transition: 0.4s;
}
.news__area__card h3:hover {
  color: #e83b3e;
}
